<h1>Verify your email, {{name}}!</h1>
<p>Thanks for signing up for {{appName}}. Please confirm your email address to activate your account.</p>
<p><a href="{{verificationUrl}}">Verify your email address</a></p>
<p>If the button does not work, copy and paste this link into your browser:</p>
<p>{{verificationUrl}}</p>
<p>This verification link expires in 24 hours.</p>
